body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

h2 {
    text-align: center;
    padding: 20px;
}

.github-button {
    background-color: black;
    color:white;
    border-color: black;
}

.delete-button {
    background-color: red;
    color:white;
}

.icon {
    display: inline-block;
}