# Java Gradle CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  build:
    docker:
    - image: circleci/openjdk:8-jdk
    working_directory: ~/repo
    environment:
      JVM_OPTS: -Xmx3200m
      TERM: dumb
    steps:
    - checkout
    - restore_cache:
        keys:
        - v1-dependencies-{{ checksum "build.gradle" }}
        - v1-dependencies-
    - run: gradle dependencies
    - save_cache:
        paths:
          - ~/.m2
        key: v1-dependencies-{{ checksum "build.gradle" }}
    - run: gradle test

  deploy:
    docker:
    - image: circleci/openjdk:8-jdk
    steps:
    - run: ssh circleci@hr.kennuware.com './deploy.sh' $CIRCLE_BRANCH

workflows:
  version: 2
  build-deploy:
    jobs:
    - build
    - deploy:
        requires:
        - build
